* {
    font-family: Consolas, monospace;
}

body {
    color: white;
    background-image: url(Fotos/fondo.png);
    margin: 0;
    padding: 0;
}

header {
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header img {
    width: 50px;
    vertical-align: middle;
}

header h1 {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.caja-login {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.datos,
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

input:hover[type="submit"] {
    color: #00ff00;
}

.logo_github {
    width: 30px;
    float: right;

}
